<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oauth</title>
</head>
<body>

<nav>
    <div><a href="{% url 'home' %}">Home</a></div>
    {% if user.is_authenticated %}
         <H1>Hello,mi querido {{ user.username }}</H1>
         <div><a href="{% url 'logout-confirm' %}">Logout</a></div>
    {% else %}
         <div><a href="{% url 'login' %}">Login</a></div>
    {% endif %}
</nav>
{% block content %}

{% endblock content %}

</body>
</html>